:root {
  --green: #b9ff66;
  --darkBlue: #191a23;
  --grey: #f3f3f3;
}

.color-darkBlue,
.color-darkBlue * {
  color: var(--darkBlue) !important;
}

#home {
  margin: 0 10px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow-y: scroll;
  height: 100%;
}

html {
  overflow-x: hidden;
}

* {
  color: #000000 !important;
  font-family: "Space Grotesk", cursive !important;
}

button,
a {
  text-transform: none !important;
  text-decoration: none !important;
}

.mn-fit {
  min-width: fit-content !important;
}

.navbar {
  align-items: center !important;
  flex-wrap: nowrap !important;
  height: 68px;
  margin-top: 30px;
  gap: 10px;
  justify-content: space-between !important;
  height: 100%;
}

.navbar,
.navbar * {
  box-shadow: none !important;
  border: 0 !important;
}

.navbar img {
  height: 24px;
  width: 144px;
}

.nav-items {
  width: 100px !important;
}

.nav-button {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 25px !important;
  margin: 0;
  box-sizing: border-box !important;
  border: 1px solid var(--darkBlue) !important;
  border-radius: 14px !important;
  padding: 10px 20px !important;
}

.header-box {
  margin-top: 70px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-box > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
}

.header-box div:last-child {
  display: block;
  width: fit-content;
}

.header-box div:last-child img {
  width: 100%;
}

.header-title {
  font-weight: 500 !important;
  font-size: 60px !important;
  line-height: 77px !important;
  max-width: 550px;
}

.header-description {
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

.header-button {
  background-color: var(--darkBlue) !important;
  border-radius: 14px !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff !important;
  width: fit-content;
  padding: 15px 25px !important;
}

.logo-detail {
  height: 100%;
}

.logo-detail img {
  mix-blend-mode: luminosity;
}

.sub-header-name {
  background-color: var(--green);
  border-radius: 7px;
  font-weight: 500 !important;
  font-size: 40px !important;
  line-height: 51px !important;
  text-align: center;
}

.sub-header-description {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 23px !important;
}

.contact-us-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 60px 100px 40px;
  background: var(--grey);
  border-radius: 45px;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 0;
}

.contact-us-form img {
  display: block;
  position: relative;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.contact-item .MuiFormControl-root {
  width: 100%;
}

.contact-item fieldset {
  border-color: #000;
  background-color: #fff;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 18px 30px;
}

.contact-item .MuiInputLabel-formControl {
  font-size: 18px !important;
  line-height: 23px !important;
  color: #898989 !important;
  margin: 0 18px;
}

.contact-item .MuiInputBase-input {
  color: #000 !important;
  position: relative;
  z-index: 1000;
}

.contact-us-form button {
  padding: 20px 35px !important;
  background-color: var(--darkBlue) !important;
  border-radius: 14px !important;
  font-size: 18px !important;
  text-align: center;
  color: #ffffff !important;
  width: 100% !important;
}

.submit {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.submit-message,
.submit-message * {
  background-color: var(--green) !important;
}

@media only screen and (max-width: 950px) {
  .menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    width: -webkit-fill-available;
    background-color: #fff;
    flex-wrap: nowrap;
    gap: 15px;
    padding: 9px;
    top: -18px;
    align-items: baseline;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 15px;
  }

  .header-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    gap: 20px;
  }

  .header-box img {
    width: inherit;
  }

  .header-title {
    font-size: 28px !important;
    line-height: 43px !important;
    letter-spacing: 2px !important;
    font-weight: 800 !important;
  }

  .header-description {
    font-size: 13px !important;
    line-height: 22px !important;
    letter-spacing: -1px !important;
  }

  .sub-header-description {
    line-height: 20px !important;
    font-size: 13px !important;
    text-align: center;
    width: -webkit-fill-available !important;
    max-width: -webkit-fill-available !important;
  }

  .contact-us-form {
    padding: 60px 20px;
  }
}
