:root {
  --green: #b9ff66;
  --darkBlue: #191a23;
  --grey: #f3f3f3;
}

* {
  color: #000000 !important;
  font-family: "Space Grotesk", cursive !important;
}

button {
  text-transform: none !important;
}

.nav-items {
  width: 110px !important;
}

.nav-items.button {
  width: 235px !important;
}

a,
.nav-button {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 25px !important;
  text-decoration: none !important;
  margin: 0;
  width: 100%;
  text-transform: none !important;
}

.nav-button {
  padding: 18px 25px !important;
  box-sizing: border-box !important;
  border: 1px solid var(--darkBlue) !important;
  border-radius: 14px !important;
}

.header-title {
  width: 531px;
  height: 231px;
  font-weight: 500 !important;
  font-size: 60px !important;
  line-height: 77px !important;
}

.header-description {
  width: 498px;
  height: 112px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.header-button {
  width: 264px;
  height: 68px;
  background-color: var(--darkBlue) !important;
  border-radius: 14px !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff !important;
}

.logo-detail img {
  mix-blend-mode: luminosity;
}

.sub-header-name {
  width: 160px;
  height: 51px;
  background-color: var(--green);
  border-radius: 7px;
  font-weight: 500 !important;
  font-size: 40px !important;
  line-height: 51px !important;
}

.sub-header-description {
  width: 585px;
  height: 46px;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 23px !important;
}
