* {
  color: #000000 !important;
  font-family: "Space Grotesk", cursive !important;
}

.nav-items {
  width: 110px !important;
}

.nav-items.button {
  width: 235px !important;
}

a,
.nav-button {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 25px !important;
  text-decoration: none !important;
  margin: 0;
  width: 100%;
  text-transform: none !important;
}

.nav-button {
  padding: 18px 25px !important;
  box-sizing: border-box !important;
  border: 1px solid #191a23 !important;
  border-radius: 14px !important;
}

.header-title {
  width: 531px;
  height: 231px;
  font-weight: 500 !important;
  font-size: 60px !important;
  line-height: 77px !important;
}

.header-description {
  width: 498px;
  height: 112px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.header-button {
  width: 264px;
  height: 68px;
  background-color: #191a23 !important;
  border-radius: 14px !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff !important;
}

.logo-detail img {
  mix-blend-mode: luminosity;
}
