#casestudies {
  height: 100%;
}

.cards {
  display: flex;
  padding: 50px 20px;
  background-color: var(--darkBlue) !important;
  border-radius: 45px;
}

.detail-card {
  background-color: var(--darkBlue) !important;
  border: 0 !important;
  border-right: 1px solid #fff !important;
  width: -webkit-fill-available;
  padding: 0 30px;
  display: flex;
  justify-content: center;
}

.detail-card:last-child {
  border: 0 !important;
}

.content {
  margin: auto;
  padding: inherit;
}

.content > p {
  color: #fff !important;
  max-width: 289px;
  font-size: 18px !important;
}

.action {
  display: flex;
  align-items: center;
}

.action > p {
  color: var(--green) !important;
}

@media only screen and (max-width: 950px) {
  .cards {
    background-color: #fff !important;
    gap: 20px;
    width: -webkit-fill-available;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--darkBlue) var(--grey);
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }

  .detail-card {
    min-width: fit-content;
    border-radius: 45px !important;
  }

  .content > p {
    min-width: 289px;
  }
}
