#testimonials {
  height: 100%;
}

.testimonialsSwiper {
  background-color: var(--darkBlue);
  padding: 40px;
  margin: 0 20px;
  border-radius: 45px;
}

.testimonialsSwiper .swiper-slide {
  padding: 40px 0;
}

.testimonialsSwiper .swiper-pagination {
  padding: 30px 0;
}

.testimonialsSwiper .swiper-wrapper {
  padding: 40px 0;
}

.testimonial-card {
  border: 1px solid var(--green);
  border-radius: 33px;
  width: 100%;
  max-width: 549px;
  padding: 45px;
  color: #fff !important;
  box-sizing: border-box;
  text-align: left;
}

.arrow-down {
  width: 100px;
  aspect-ratio: 2;
  clip-path: polygon(0 100%, 0 0, 50% 100%, 0 100%, 0 0, 0 0, 0 0, 0 0);
  border: 2px solid var(--green);
  transform: rotate(315deg);
  position: relative;
  top: -45px;
  left: 45px;
  z-index: 1000;
  background-color: var(--darkBlue);
}

.quote {
  color: #fff !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

.person {
  position: relative;
  left: 72px;
  width: fit-content;
}

.person p {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 23px !important;
}

.name {
  color: var(--green) !important;
  font-weight: bold;
  margin-bottom: 5px;
}

.title {
  font-size: 0.95rem;
  color: #fff !important;
}

.custom-bullet {
  background-color: var(--darkBlue) !important;
  opacity: 1;
  border-radius: 0;
  min-width: 14px;
  min-height: 14px;
}

.swiper-pagination-bullet-active .paginationStar {
  fill: var(--green);
}

@media only screen and (max-width: 950px) {
  .testimonial-card {
    min-width: fit-content;
    padding: 15px 19px;
  }

  .quote {
    font-size: 10px !important;
    line-height: 13px !important;
  }

  .testimonialsSwiper {
    padding: 20px 14px;
  }

  .testimonialsSwiper .swiper-slide {
    padding: 20px 0;
  }

  .testimonialsSwiper .swiper-wrapper {
    padding: 20px 0;
  }

  .person {
    margin-bottom: 10px;
    padding-bottom: 10px;
    max-width: 185px;
  }

  .person p {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }

  .arrow-down {
    aspect-ratio: 3;
    clip-path: polygon(0 100%, 0 0, 32% 100%, 0 100%, 0 0, 0 0, 0 0, 0 0);
    top: -43px;
  }
}
